<div id="content">
	<div class="container">
		<div class="post">
			<div itemscope itemtype="schema.org/SportsEvent"><h1 class="title"><a href="#"><span itemprop="name" itemprop="description">Eliminatorias sudamericanas por Arenavision</span></a></h1></div>
			<p class="byline">Postiado el 5 de Octubre por <a href="http://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
			<div class="entry">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Partido</th>
							<th>Canal Arenavision</th>
							<th>Horario de comienzo</th>
						<tr>
					</thead>
					<tbody>
						<tr>
							<td>BOLIVIA - BRASIL</td><td>19 - 20 [SPA]</td><td>22:00 CET</td>
						</tr>
						<tr>
							<td>VENEZUELA - URUGUAY</td><td>27 - 28 [SPA]</td><td>23:00 CET</td>
						</tr>
						<tr>
							<td>ARGENTINA - PERÚ</td><td>19 - 20 [SPA]</td><td>01:30 CET</td>
						</tr>
						<tr>
							<td>CHILE - ECUADOR</td><td>25 - 26 [SPA]</td><td>01:30 CET</td>
						</tr>
						<tr>
							<td>COLOMBIA - PARAGUAY</td><td>23 - 24 [SPA]</td><td>01:30 CET</td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<center>
					<img src="./images/arenavisionlogo.png">
				</center>
				<br>
				<div class="alert alert-block">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Advertencia!</h4>
						Hacer click a la hora de comienzo de los respectivos encuentros!</a>.
				</div>
				<br>
				<center>
					<p>
						<a href="./arenavision19-20.html" class="btn btn-primary">Canales Arenavision 19 - 20
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision27-28.html" class="btn btn-primary">Canales Arenavision 27 - 28
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision25-26.html" class="btn btn-primary">Canales Arenavision 25 - 26
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision23-24.html" class="btn btn-primary">Canales Arenavision 23 - 24
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision21-22.html" class="btn btn-primary">Canales Arenavision 21 - 22
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision17-18.html" class="btn btn-primary">Canales Arenavision 17 - 18
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision15-16.html" class="btn btn-primary">Canales Arenavision 15 - 16
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision30.html" class="btn btn-primary">Canales Arenavision 30
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision28.html" class="btn btn-primary">Canales Arenavision 28
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision24.html" class="btn btn-primary">Canales Arenavision 24
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision26.html" class="btn btn-primary">Canales Arenavision 26
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision21.html" class="btn btn-primary">Canales Arenavision 21
						</a>
					</p>
				</center>
			</div>
		</div>
	</div>
</div>