<div id="content">
	<div class="container">
		<div class="post">
			<h1 class="title"><a href="#"><span itemprop="name" itemprop="description">Cavani y Suárez que la manden a guardar</span></a></h1>
			<p class="byline">Postiado el 7 de Octubre por <a href="http://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
			<img src="http://d3ustg7s7bf7i9.cloudfront.net/mmediafiles/pl/ca/caea1baa-3222-429e-9616-253ec2310d8b_749_499.jpg" class="image"><br></br>
			<div class="entry">
				<div itemscope itemtype="schema.org/SportsEvent">
					<strong itemprope="name"> <span itemprop="homeTeam">Uruguay-</span><span itemprop="awayTeam">Bolivia</span></strong>. Partido programado para el<span itemprop="startDate"><time datetime="2017-10-06T03:15+01:00"> miércoles 01:30 de la madrugada CET</time></span> terminando
					a las <span itemprop="endDate"><time datetime="2017-10-11T03:15+01:00"> 03:15 CET</time></span>. Para Uruguay es chequear el pulso en el Centenario con esta selección que a sufrido el recambio lógico después de dos mundiales. En el peor de los casos
					suponiendo que Bolivia nos gane y que también Chile y Colombia ganen sus partidos igualmente Uruguay está clasificado en el cuarto puesto. Pero con Suárez y Cavani en el equipo todo puede pasar y me gustaría verlo a Valverde en el Centenario ya
					clasificados. A disprutar un partido de fútbol sin nerviosismos ante el hermano olvidado de todos los otros sudamericanos Bolivia.
				</div><br><br>
			</div>
			<img src="https://images.performgroup.com/di/library/Goal_Argentina/82/65/argentina-uruguay-eliminatorias-sudamericanas-01092016_1r45x1ac2d95g17tzkwa17ddxk.jpg?t=-398220730&quality=90&h=300" class="image"><br><br>
		</div>
	</div>
</div>