<div id="content">
	<div class="container">
		<div class="post">
			<h1 class="title"><a href="#"><span itemprop="name" itemprop="description">Eliminatorias sudamericanas, última fecha: Uruguay Bolivia</span></a></h1>
			<p class="byline">Postiado el 7 de Octubre por <a href="http://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
			<img src="http://d3ustg7s7bf7i9.cloudfront.net/mmediafiles/pl/ca/caea1baa-3222-429e-9616-253ec2310d8b_749_499.jpg" class="image"><br></br>
			<div class="entry">
				
					<p><strong> <span>Uruguay-</span><span>Bolivia</span></strong>. Partido programado para el<span> miércoles, 11 Oct 01:30 de la madrugada CET</time></span> terminando
					a las a las <span> 03:15 CET</span> en el Estadio Centenario. Uruguay a sufrido el recambio lógico de jugadores después de dos mundiales, mérito del maestro Oscar Washington Tabárez quien le dió oportunidad a Valverde y Nandez en el
					medio campo de Uruguay completando con Matías Vecino un medio campo de gran dinámica.</p>
					<p>Esta transición se esta realizando de manera mucho menos traumática que por ejemplo el <strong>CONVULSIONADO</strong> recambio en la selección Argentina. Los resultados han ayudado, Valverde metió el golazo
					contra Paraguay y acompaño en Venezuela con un par de pases peligrosos a Cavani, Nández de gran despliegue y Vecino cada vez más seguro en sus pases y gran velocidad tanto en el aspecto ofensivo como de recuperación.</p>
					<p>
						Mañana contra Bolivia contamos con Suárez y Cavani como siempre desde el vamos, jugadores que exigen al rival siempre y obligan al rival a pensar más en lo defensivo que en lo ofensivo lo que favorece y desahoga mucho a la defensa.
						El reloj no corre encontra nuestra, Uruguay a hecho una buena eliminatoria y se ubicará mínimo cuarto si perdiera e ganára Colombia e Chile algo que parece difícil de antemano.
					</p>
						
				<br><br>
					<img src="https://images.performgroup.com/di/library/Goal_Argentina/82/65/argentina-uruguay-eliminatorias-sudamericanas-01092016_1r45x1ac2d95g17tzkwa17ddxk.jpg?t=-398220730&quality=90&h=300" class="image"><br><br>
					<br><br>
					<span><strong>Dos cosas:</strong></span><br>
						<ol>
							<li>
								<p>
									La crítica de Casellana que el maestro fuera poco cordial y perdiera la calma en la conferencia de prensa es en cierta manera disculpable porque le han dicho de todo por ahí, basta una búsqueda
									en Google para corroborar lo que digo incluso le faltaron el respeto y lo pijiaron por la enfermedad. Vestigios de una sociedad mercantilista que promueve la traición y el fallutismo entre hermanos sudamericanos.
								</p>
							</li>
							<li>
								<p>
									La crítica de Da Silveira de que el maestro estaba allá arriba y se creía omnipotente e intocable me parece absurda, el maestro hizo el recambio en la selección, le ha ido bien, estamos segundos
									en la eliminatoria, nunca lo habíamos logrado con este nuevo sistema de disputa en sudamerica a falta de una fecha ya clasificados, aparte tiene que aguantar que le digan de todo y lo pijéen los
									peridistas de América, el hombre a estado al frente más de diez años es lógico que esté cansado pero si no valoramos su trabajo vamos a caer de nuevo en el anonimato de antes.
								</p>
							</li>
						</ol>
					<p>
						A disfrutar de la última fecha de las eliminatorias con el hermano olvidado por los demás sudamericanos: Bolivia. Que sea una fiesta y que se juegue bien al fútbol. Va a estar bueno ver a Valverde y Nández
						por primera vez en el Centenario. Debo resaltar aunque más no sea al final, el despliegue de Nández en la selección, el que más corre cuando le agregue más precisión a los pases vamos a tener un mediocampo mucho
						mejor.
					</p>
			</div>
			
		</div>
	</div>
</div>