<div id="content">
	<div class="container">
		<div class="post">
			<h1 class="title"><a href="#"><span itemprop="name" itemprop="description">La mutual fijo la reunión</span></a></h1>
			<p class="byline">Postiado el 26 de Octubre por <a href="http://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
			<a href="./images/claves-conflicto.jpg"><img src="./images/claves-conflicto.jpg" class="image thumbnail"></a><br></br>
			<div class="entry">
				
					<p>
						La reunión de la mutualista quedó fijada para el lunes 13 de noviembre. Los futbolistas agremiados de la mutualista reclaman ganar más plata y hasta que no se arreglen no hay fútbol.
					</p>
					<a href="./images/masunidosquenunca.jpg"><img src="./images/masunidosquenunca.jpg" class="thumbnail" class="image" /><br><br></a>
					<p>
						El representante de Peñarol en la reunión de clubes de anoche esgrimió que es hora de tomar responsabilidad y tratar que el conflicto se solucione cuanto antes y volver a la normal competencia del Campeonato Clausura 2017.</p>
					</p>
					
					<div class="row-fluid">
						<ul class="thumbnails">
							<li class="span4">
								<a href="./images/conflictonutualista.jpg" class="image thumbnail">
									<img data-src="holder.js/300x200" alt="" src="./images/conflictonutualista.jpg">
								</a>
							</li>
							<li class="span4">
								<a href="./images/logomutualista.jpg" class="image">
									<img data-src="holder.js/300x200" alt="" src="./images/logomutualista.jpg">
								</a>
							</li>
						</ul>
					</div><br><br>
					
					<p>
						La AUF a última hora de esta tarde le da 48 horas de plazo a la mutualista para que solucione el conflicto y se cumpla el estatuto del jugadorde fútbol, creemos que como esto llega tarde la mutualista haasta el lunes 13 de noviembre no cambie la suspención del fútbol hasta esa fecha.
					</p>
					
					<p>
						El colectivo "Más Unidos Que Nunca" abrió un canal en twitter para informar: #MasUnidosQueNunca. Informate del conflicto. En Tiempo de Fútbol radio sport 890 a última hora había una resignación de que por este año no se juege más al fútbol.
					</p>
			</div>
			
		</div>
	</div>
</div>