		<div id="content"><div class="container"><br>
			<div class="row-fluid">
				<ul class="thumbnails">
					<li class="span6">
						<div class="thumbnail">
							<center><img data-src="holder.js/300x200" class="image" alt="" src="./images/penege.png" width="300"></center>
							<div class="caption">
								<h3>Eliminatorias Sudamericanas en vivo y por Internet</h3>
								<p>Las Eliminatorias Sudamericanas al Mundial Rusia 2018 pueden ser seguidas en esta doble fecha FIFA por los canales ARENASPORT de Serbia en alta definición en directo y por Internet.</p>
								<p>
									<a href="./streamseliminatoriassudamericanas.html" class="btn btn-primary">Leer más
									</a>
								</p>
							</div>
						</div>
					</li>
					<li class="span6">
						<div class="thumbnail">
							<center><img data-src="holder.js/300x200" class="image" alt="" src="http://bucket1.clanacion.com.ar/anexos/fotos/06/eliminatorias-2119206w620.jpg" width="300"></center>
							<div class="caption">
								<h3>Las claves de Uruguay ante Venezuela por las Eliminatorias</h3>
								<p>Un nuevo gol de cabeza del central Godín, Uruguay enfrenta a Venezuela este jueves por un lugar al mundial de Rusia 2018 en la ante-última fecha de las Eliminatorias Sudamericanas.</p>
								<p>
									<a href="./godin.html" class="btn btn-primary">Leer más
									</a>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		<br>
		
			<ul class="thumbnails">
				
			</ul>
		
			<div class="post">
				<h2 class="title"><a href="#"><p>Campeonato Clausura 2017, Nacional 0 Peñarol 2</p></a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div class="entry">
					Todo lo que usted no vió del clásico en que Peñarol cortó una paternidad de más de 3 años en el fútbol uruguayo, con goles del "Cebolla" de penal y de Rogél encontra el carbonero pudo revertir la racha.
					<div itemscope itemtype="http://schema.org/SportsEvent">
						<p><span itemprop="name">Campeonato Clausura 2017, <span itemprop="homeTeam">Nacional</span> 0 <span itemprop="awayTeam">Peñarol</span> 2 </span><span itemprop="description">todos los videos del partido con las jugadas más polémicas y los goles enganchados en este canal de youtube</span></p>
						<iframe width="754" src="https://www.youtube.com/embed/5cbZUP6HQNU" frameborder="0" allowfullscreen></iframe>
						<!--<iframe width="480"  src="https://www.youtube.com/embed/5cbZUP6HQNU" frameborder="0" allowfullscreen></iframe>-->
					</div><br>
					<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="" width="85" style="margin-left:15px;margin-bottom:-7px;"></a></span></td><td><span><a href="#"><img src="" width="30" style="float:right;margin-right:15px;margin-bottom:-7px;"></a></span></td></tr></div></a>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#"><p>Uruguay se saco un <code><span style="color:black;background-color:red;">clavo</span></code> de encima, el clasico del rio de la plata terminó en empate a cero</p></a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div class="entry">
					<p>Uruguay 0-0 Argentina </p>
					<div itemscope itemtype="http://schema.org/SportsEvent">
						<p><span itemprop="name">Eliminatorias Sudamericanas</span></p>
						<p><span itemprop="description">El clasico del rio de la plata, <strong>Uruguay - Argentina</strong></span> pasó, no sin antes dejar las secuelas obvias de un encuentro de estas caracteristicas.</p>
						<p><div itemscope itemtype="http://schema.org/Person"><p>Por el lado de Uruguay la baja obligada del <span itemprop="name"><strong>Tata Gonzalez</strong></span> <span itemprop="jobTitle">futbolista</span> que por ver su segunda amarilla se pierde y seguramente también baja del <span itemprop="jobTitle">futbolista</span> <span itemprop="name"><strong>Suárez</strong></span> para el partido del martes contra Paraguay por resentirse
						de su lesión que lo había radiado de su equipo el Barcelona en los últimos encuentros. El encuentro trabado y hasta friccionado si se quiere, un típico partido de clásico, con muy pocas oportunidades para ambos cuadros, una del <span itemprop="jobTitle">futbolista </span><span itemprop="name"><strong>DiBala</strong></span>  en el segundo tiempo
						y un taco del <span itemprop="jobTitle">futbolista</span> <span itemprop="name"><strong>Cavani</strong></span> en el primero que fueron desviados por <span itemprop="jobTitle">el arquero</span><span itemprop="name"><strong> Romero</strong></span> y el <span itemprop="jobTitle">golero<span itemprop="name"> <strong>Muslera</strong></span> respectivamente en sendas atajadas y nada mas. Dominaron ampliamente las dos defensas ante el partido de los delanteros. Yo creo que nos
						sacamos un gran peso de encima. Rayón y a empezar la cuenta de nuevo desde el cero el martes contra Paraguay a ver si volvemos a sumar y como quien no quiere la cosa ver hasta 
						un tanto distendidos el partido contra Paraguay luego de haber safado <span style="color:black;background-color:orange;">ilesos</span> ante los argentinos, y a ver si por fin encuentra su biberón de leche tibia el <span style="color:black;background-color:orange;">egipcio</span> ... (sic)</p></div><script>catch "el vaticinio"</script>
					</div><br>
					<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="" width="85" style="margin-left:15px;margin-bottom:-7px;"></a></span></td><td><span><a href="#"><img src="" width="30" style="float:right;margin-right:15px;margin-bottom:-7px;"></a></span></td></tr></div></a>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#"><p>Se viene Paraguay en el Defensores del Chaco </p></a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div itemscope itemtype="http://schema.org/SportsEvent">
					<div class="entry">
						<h3 style="font-weight:900"><span itemprope="homeTeam">Paraguay</span> - <span itemprope="awayTeam">Uruguay</span></h3>
						<p><span itemprop="name" style="font-weight:900">Eliminatorias Sudamericanas</span></p>
						<p><span itemprop="description">Un partido para no perdérselo <strong style="font-weight:900">Paraguay - Uruguay</strong></span>.</p>
						<p>Empieza: <span itemprop="startDate"><time datetime="2017-09-06T02:00+01:00">2017-09-06 <span style="color:red;">02:00+01:00</time></span> <span style="color:green">CET.</span> Termina: <span itemprop="endDate"><time datetime="2017-09-06T03:45+01:00">2017-09-06 <span style="color:red;">03:45+01:00</time></span> <span style="color:green">CET</span></p>
						<p><span>Una vez mas, ojalá sumemos aunque mas no sea un empate para recuperar en parte los puntos perdidos en el Centenario.</span></p>
					</div><br>
				</div><br>
				<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="" width="85" style="margin-left:15px;margin-bottom:-7px;"></a></span></td><td><span><a href="#"><img src="" width="30" style="float:right;margin-right:15px;margin-bottom:-7px;"></a></span></td></tr></div></a>
				
			</div>
			
		</div></div>