		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Uruguay se saco un <span style="color:black;background-color:red;">clavo</span> de encima, el clasico del rio de la plata terminó en empate a cero</a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div class="entry">
					<h3>Uruguay 0-0 Argentina </h3>
					<div itemscope itemtype="http://schema.org/SportsEvent">
						<p><span itemprop="name">Eliminatorias Sudamericanas</span></p>
						<p><span itemprop="description">El clasico del rio de la plata, <strong>Uruguay - Argentina</strong></span> pasó, no sin antes dejar las secuelas obvias de un encuentro de estas caracteristicas.</p>
						<div itemscope itemtype="http://schema.org/Person"><p>Por el lado de Uruguay la baja obligada del <span itemprop="name"><strong>Tata Gonzalez</strong></span> <span itemprop="jobTitle">futbolista</span> que por ver su segunda amarilla se pierde y seguramente también baja del <span itemprop="jobTitle">futbolista</span> <span itemprop="name"><strong>Suárez</strong></span> para el partido del martes contra Paraguay por resentirse
						de su lesión que lo había radiado de su equipo el Barcelona en los últimos encuentros. El encuentro trabado y hasta friccionado si se quiere, un típico partido de clásico, con muy pocas oportunidades para ambos cuadros, una del <span itemprop="jobTitle">futbolista </span><span itemprop="name"><strong>DiBala</strong></span>  en el segundo tiempo
						y un taco del <span itemprop="jobTitle">futbolista</span> <span itemprop="name"><strong>Cavani</strong></span> en el primero que fueron desviados por <span itemprop="jobTitle">el arquero</span><span itemprop="name"><strong> Romero</strong></span> y el <span itemprop="jobTitle">golero<span itemprop="name"> <strong>Muslera</strong></span> respectivamente en sendas atajadas y nada mas. Dominaron ampliamente las dos defensas ante el partido de los delanteros. Yo creo que nos
						sacamos un gran peso de encima. Rayón y a empezar la cuenta de nuevo desde el cero el martes contra Paraguay a ver si volvemos a sumar y como quien no quiere la cosa ver hasta 
						un tanto distendidos el partido contra Paraguay luego de haber safado <span style="color:black;background-color:orange;">ilesos</span> ante los argentinos, y a ver si por fin encuentra su biberón de leche tibia el <span style="color:black;background-color:orange;">egipcio</span> ... (sic)</p></div><script>catch "el vaticinio"</script>
					</div>
					<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="images/g10544.png" width="90"></a></span></td><td><span><a href="#"><img src="images/g1272.png" width="50" style="float:right;"></a></span></td></tr></div></a>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Se viene Paraguay en el Defensores del Chaco </a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div itemscope itemtype="http://schema.org/SportsEvent">
					<div class="entry">
						<h3 style="font-weight:900"><span itemprope="homeTeam">Paraguay</span> - <span itemprope="awayTeam">Uruguay</span></h3>
						<p><span itemprop="name" style="font-weight:900">Eliminatorias Sudamericanas</span></p>
						<p><span itemprop="description">Un partido para no perdérselo <strong style="font-weight:900">Paraguay - Uruguay</strong></span>.</p>
						<p>Empieza: <span itemprop="startDate"><time datetime="2017-09-06T02:00+01:00">2017-09-06 <span style="color:red;">02:00+01:00</time></span> <span style="color:green">CET.</span> Termina: <span itemprop="endDate"><time datetime="2017-09-06T03:45+01:00">2017-09-06 <span style="color:red;">03:45+01:00</time></span> <span style="color:green">CET</span></p>
						<p><span>Una vez mas, ojalá sumemos aunque mas no sea un empate para recuperar en parte los puntos perdidos en el Centenario.</span></p>
					</div>
					<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="images/g10544.png" width="90"></a></span></td><td><span><a href="#"><img src="images/g1272.png" width="50" style="float:right;"></a></span></td></tr></div></a>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Ver streams en vivo del partido Paraguay - Uruguay</a></h2>
				<p class="byline">Postiado el 3 de setiembre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
				<div itemscope itemtype="http://schema.org/TelevisionChannel">
					<div class="entry">
						<ul>
							<li><a href="/sporttv1.html"><span itemprop="name">SPORT TV 1 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
							<li><a href="/matchfutbol1.html"><span itemprop="name">MATCH! FUTBOL 1 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/matchfutbol2.html"><span itemprop="name">MATCH! FUTBOL 2 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/matchfutbol3.html"><span itemprop="name">MATCH! FUTBOL 3 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/matchtv.html"><span itemprop="name">MATCH! TV HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/futbolua1.html"><span itemprop="name">FUTBOL UA 1 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/futbolua2.html"><span itemprop="name">FUTBOL UA 2 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> Ruso</span></li>
							<li><a href="/sport1hdil.html"><span itemprop="name">Sport 1 HD Il</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Israel</span></li>
							<li><a href="/sport2hdil.html"><span itemprop="name">Sport 2 HD Il</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Israel</span></li>
						</ul>
						<a href="#"><div id="el vaticinio" style="background-color:green;"><tr><td><span><a href="#"><img src="images/g10544.png" width="90"></a></span></td><td><a href="#"><span><img src="images/g1272.png" width="50" style="float:right;"></a></span></td></tr></div></a>
					</div>
				</div>
			</div>
		</div>