			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Una de las claves de Uruguay: la pelota parada</a></h2>
					<p class="byline">Postiado el 3 de Octubre por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
					<div class="entry">
						<img src="http://bucket1.clanacion.com.ar/anexos/fotos/06/eliminatorias-2119206w620.jpg" class="image"><br>
						<p>En la foto se ve al central de Uruguay <span itemscope itemtype="http://schema.org/Persson><strong itemprop="name">Godín </strong></span> festejando un nuevo gol de cabeza. La pelota parada
						es una de las armas más temibles de Uruguay en estas eliminatorias sudamericanas. Probablemente Uruguay recurra a la jugada de pelota parada una vez más para tratar de ganar un lugar en el
						mundial de Rusia 2018.
						</p>
						<p>
							<div itemscope itemtype="http://schema.org/SportsEvent">
								<span itemprop="name">El partido <span itemprop="homeTeam">Venezuela</span> vs <span itemprop="awayTeam">Uruguay</span></span> por las <span itemprop="description">eliminatorias sudamericanas a Rusia 2018</span> va este jueves 5 de Octubre desde las <span itemprop="startDate"><time datetime="2017-10-05T23:00+01:00">2017-10-05T<span style="color:red;">23:00+01:00 CEST</span></time></span>
								finalizando en la madrugada del viernes horario siempre europeo CEST alrededor de las <span itemprop="endDate"><time datetime="2017-10-06T00:45+01:00">2017-10-06T<span style="color:red;">00:45+01:00 CEST</span></time></span> previsto a 
								disputarse en <span itemprop="location">Venezuela</span>.
							</div>
						</p>
					</div>
				</div>
			</div>
			
			
			
			