<div id="header"><!--class="border"-->
	<!--<div id="menu">
		<ul id="main"  style="float:left;">
			<li class="current_page_item"><a href="/">Home</a></li>
			<li><a href="#">Servicios</a></li>
			<li><a href="/acercade.html">Acerca del sitio</a></li>
			<li><a href="#">Formulario de contacto</a></li>
		</ul>
		
	</div>-->
	<div class="border"><!--class="border"--><img class="right border6" src="{{ site.url }}/images/g7825.png" width="90" style="margin-top:44px;margin-left:70px;background-color:red;"></div>
	<div id="logo" class>
			<h1><a href="#"><span style="color:#dcb208;margin-left:120px;">Serás Eterno como el Tiempo</span></a></h1> <!--#dcb208-->
			<p><span style="color:#dcb208;margin-left:390px;">Y Florecerás en cada Primavera</span></p>
	</div>
</div>