<div id="header"><!--class="border"-->
	<!--<div id="menu">
		<ul id="main"  style="float:left;">
			<li class="current_page_item"><a href="/">Home</a></li>
			<li><a href="#">Servicios</a></li>
			<li><a href="/acercade.html">Acerca del sitio</a></li>
			<li><a href="#">Formulario de contacto</a></li>
		</ul>
		
	</div>-->
	<div><!--class="border"--><img class="right" src="{{ site.url }}/images/g6691.png" width="120" style="margin-top:44px;margin-left:70px;"></div>
	<div id="logo" class>
		<tr>
			<td>
				<h1><a href="#"><span class="border5" style="color:#dcb208;margin-left:420px;background-color:#000;margin-top:0px">Serás Eterno como el Tiempo</span></a></h1><br> <!--#dcb208-->
				<p><span class="border5" style="color:#dcb208;margin-left:690px;background-color:#000;margin-top:10px;">Y Florecerás en cada Primavera</span></p>
				<img src="./images/g7825.png" width="50" style="margin-top:-10px;margin-left:1144px;vertical-align:-10px;">
				<img src="./images/g6691.png" width="50" style="margin-top:17px;margin-left:1351px;">
				<img src="./images/g4872.png" width="50" style="margin-top:15px;margin-left:1354px;">
				<!--<img src="./images/g10544.png" width="50" style="margin-top:15px;margin-left:1144px;">-->
			</td>
			<td>
				
			</td>
		</tr>
			<!--<img src="./images/EscudoOficial.png" width="50" style="margin-top:15px;margin-left:1134px;">-->
	</div>
</div>