<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" lang="es" />
<title>Carousel</title>
<!--<style class="anchorjs"></style>
<link href="https://v4-alpha.getbootstrap.com/components/carousel//dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://v4-alpha.getbootstrap.com/components/carousel//assets/css/docs.min.css" rel="stylesheet">-->

<link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/docs.css" rel="stylesheet">
<link href="{{ site.url }}/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  
<script src="{{ site.url }}/assets/js/google-code-prettify/prettify.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap-carousel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="{{ site.url }}/dist/js/bootstrap.js"></script>
<script src="{{ site.url }}/assets/js/util.js"></script>

</head>