<div id="header">
	<div id="menu">
		<ul id="main"  style="float:left;">
			<li class="current_page_item"><a href="/">Blog</a></li>
			<li><a href="#">Servicios</a></li>
			<li><a href="#">Acerca del sitio</a></li>
			<li><a href="#">Formulario de contacto</a></li>
		</ul>
		
	</div>
	<img class="right" src="images/g7825.png" height="191" style="vertical-align:-10px;">
	<div id="logo" class>
			<h1><a href="#"><span style="color:#dcb208;">Serás eterno como el tiempo</span></a></h1> <!--#dcb208-->
			<p style="color:#dcb208;">Y renacerás en cada primavera</p>
	</div>
</div>