	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					</div>
          <a class="brand active" href="./index.html" style="margin-right:10px;"><span style="padding:10 0 0 0;">CAPEÑAROL</span></a>
		  <!--<a href="#"><img src="{{ site.url }}/images/g6691.png" width="25" style="float:right;margin-left:25px;margin-top:8px;"></span></a>-->
		  <div class="nav-collapse collapse">
            <ul class="nav">

			  <li class="">
				<a href="#"><span><span><img src="{{ site.url }}/images/g6691.png" width="25" style="float:left;margin-top:0px;"></span></a>
			  </li>
              <li class="">
                <a href="{{ site.url }}/index.html" style="font-size:19px;font-weight:900;">Home</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/quienes-somos.html" style="font-size:19px;font-weight:900;">Quienes somos</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/seleccion.html" style="font-size:19px;font-weight:900;">Selección</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/penarol.html" style="font-size:19px;font-weight:900;">Peñarol</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/partidos-completos.html" style="font-size:19px;font-weight:900;">Partidos Completos</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/fotos.html" style="font-size:19px;font-weight:900;">Fotos</a>
              </li>
              <li>
                <a href="{{ site.url }}/entrevistas.html" style="font-size:19px;font-weight:900;">Entrevistas</a>
              </li>
			  <li class="active">
				<a href="{{ site.url }}/blog/" style="font-size:19px;font-weight:900;">Blog</a>
			  </li>
			</ul>
          </div>
        </div>
      </div>
    </div>
