	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand active" href="./index.html" style="margin-right:10px;"><span style="padding:10 0 0 0;">CAPEÑAROL</span></a>
		  <a href="#"><img src="./images/g6691.png" width="25" style="float:right;margin-left:25px;margin-top:8px;"></span></a>
		  <div class="nav-collapse collapse">
            <ul class="nav">
			  
			  <li class="">
				<a href="#"><span><span><img src="./images/g6691.png" width="25" style="float:left;margin-top:0px;"></span></a>
			  </li>
              <li class="">
                <a href="{{ site.url }}/index.html">Home</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/acercade.html">Quienes somos</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/servicios.html">Servicios</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/contacto.html">Contacto</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/supporters.html">Suporters</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/fotos.html">Fotos</a>
              </li>
              <li class="">
                <a href="{{ site.url }}/adaptaciones.html">Adaptaciones</a>
              </li>
			  <li class="active">
				<a href="{{ site.url }}/blog/">Blog</a>
			  </li>
			</ul>
          </div>
        </div>
      </div>
    </div>