<!--<li style="background:#eaf804;line-height:15px;display:inline-block;">
  <div style="margin-left:10px;padding:2px;">-->

    <!--<style>
      .entrevistas {
        width: 400px;
        background: black;
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
        padding: 10px;
      }
    </style
<!--<a href="{{ post.url }}">-->
    <div class="category">
      <style>
        .category {
          width: 800px;
          background: black;
          margin-left: 20px;
          margin-right: 20px;
          height: 100%;
          padding: 25px;
          float: left;
        }
      </style><!--#3a3632-->

      {% for post in site.categories.Cronica limit: 1 %}
      <a href="{{ post.url }}">
        <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:26px;">
          {{ post.titulo-delaleyenda }}<br>
        </span>

        <br>

        <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
          {{ post.descripcion-delaleyenda }}<br>
        </span>

        <br>

        <img src="{{ post.image1 }}" width="940">

        <br>
     </a>
     {% endfor %}

   </div>
<div class="franja-horizontal" style="display:inline-block;">
   <div class="franja-ultimo-partido">
     <style>
       .franja-ultimo-partido {
         width: 300px;
         background: black;
         height: 100%;
         padding: 25px;
         float: left;
         display: inline;

       }
    </style>


    <br>




   {% for post in site.categories.Obieto limit:1 %}

    <a href="{{ post.url }}">
      <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
        {{ post.Partido }}
      </span>

      <br>

      <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
        Partido Completo
      </span>



      <img src="{{ post.image1 }}" width="940">

      <br>
   </a>

  {% endfor %}
</div>

  {% for post in site.categories.Conferencia-de-Prensa limit:2 %}
<div class="franja-ultimo-partido">
   <a href="{{ post.url }}">
     <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
       {{ post.Partido }}
     </span>

     <br>

     <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
       Conferencia De Prensa
     </span>

     <br>

     <img src="{{ post.image1 }}" width="940">

     <br>
  </a>
</div>
 {% endfor %}
</div>

<br>

<p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
  ÚLTIMOS VIDEOS
</p>


<div class="franja-horizontal" style="display:inline-block;">

    {% for post in site.categories.Entrevistas limit:3 %}

      <div class="franja-ultimo-partido">

        <a href="{{ post.url }}">
          <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
            {{ post.entrevistado }}
          </span>

          <br>

          <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
            {{ post.duracion }}
          </span>

          <br>

          <img src="{{ post.image1 }}" width="940">

          <br>

          <span style="color:yellow;width:800;padding:3px 3px;font-size:24px;">

              "{{ post.leyenda }}"
              <!--{{ post.Partido }}-->

          </span>
       </a>
     </div>

   {% endfor %}

  </div>

  <br>

  <p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
    SELECCIÓN
  </p>
