<!--<li style="background:#eaf804;line-height:15px;display:inline-block;">
  <div style="margin-left:10px;padding:2px;">-->

    <!--<style>
      .entrevistas {
        width: 400px;
        background: black;
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
        padding: 10px;
      }
    </style
<!--<a href="{{ post.url }}">-->
<div style="border:2px solid red;background:white;padding:10px;">
<p style="color:red;width:1440;font-weight:900;font-size:39px;">
  ÚLTIMO MOMENTO!!!</p><br>
  <p>Maxi Rodriguez se va de Peñarol, se bajó hace horas para volver al club de sus amores Newell's All Boys de Rosario.<br>
  Buena suerte y gracias por tu fútbol!!!<br></p>
  <center>=========</center>
</div>

<br>

{% for post in site.categories.Informe-Sport | limit: 1 %}
<p style="color:#000;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
  <a href="{{ post.url }}">{{ post.title }}</a>
</p>

<br>

  <a href="{{ post.url }}"><img src="{{ post.image3 }}" width="960px"></a>

<br>

  <a href="{{ post.url}}">{{ post.description }}</a>a

{% endfor %}

<br>

<br>

<br>

<p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
  ÚLTIMO PARTIDO
</p>


<br>

    <div class="category" style="background:transparent;">
      <style>
        .category {
          width: 960px;
          background: transparent;
          margin-left: 0px;
          margin-right: 0px;
          height: 100%;
          padding: 45px;
          float: left;
        }
      </style><!--#3a3632-->

      {% for post in site.categories.Cronica limit: 1 %}

      <a href="{{ post.url }}">
        <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:24px;">
          {{ post.campeonato }} {{ post.fecha }}:
        </span>
        <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:24px;">
          {{ post.Partido }}
        </span>

        <br>

        <br>

        <br>

        <span style="color:yellow;width:960;padding:2px 2px;font-weight:900;font-size:46px;">
          {{ post.titulo-delaleyenda }}<br>
        </span>

        <br>

        <span style="color:#c1bfbe;width:960;padding:2px 2px;font-weight:900;font-size:16px;">
          {{ post.descripcion-delaleyenda }}<br>
        </span>

        <br>

        <img src="{{ post.image1 }}" width="960">

        <br>
     </a>
     {% endfor %}

   </div>

   <div class="costado">
     <style>
       .costado {
         width: 300px;
         background: transparent;
         color: yellow;
         float: right;
         padding-right:20px;
         padding-bottom: 45px;
       }
     </style>
     {% for post in site.categories.Audicion-Partidaria limit: 1 %}
     <a href="{{ post.url }}" style="margin-bottom:40px;">
       <span style="font-weight:900;font-size:20px;">Fútbol A Lo Peñarol</span><br>
       <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
         Audición Partidaria
       </span>
       <img src="{{ post.image1}}">
       <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
         {{ post.date | date_to_string }}
       </span>
       <br>
    </a>
     {% endfor %}

    <br>
  </div>
  <div class="costado">
     {% for post in site.categories.Informe-Sport limit: 1 %}
     <a href="{{ post.url }}">
       <span style="font-weight:900;font-size:20px;">Informe de Peñarol</span><br>
       <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
         Sport 890 - Deportiva
       </span>
       <img src="{{ post.image1}}">
       <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
         {{ post.date | date_to_string }}
       </span>
       <br>
    </a>
     {% endfor %}
   </div>

   <br>

   <div class="costado">
      {% for post in site.categories.Informe-1010AM limit: 1 %}
      <a href="{{ post.url }}">
        <span style="font-weight:900;font-size:20px;">Informe de Peñarol</span><br>
        <span style="color:red;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
          1010 AM - Deportiva
        </span>
        <img src="{{ post.image1}}">
        <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
          {{ post.date | date_to_string }}
        </span>
        <br>
     </a>
      {% endfor %}
    </div>

   <br>

   <br>

   <br>

   <br>

   <br>


<div class="franja-horizontal" style="display:inline-block;background:transparent;width:1050px;">
   <div class="franja-ultimo-partido">
     <style>
       .franja-ultimo-partido {
         width: 300px;
         background: transparent;
         height: 350px;
         padding: 25px;
         float: left;
         display: inline;

       }
    </style>

   {% for post in site.categories.Obieto limit:1 %}

    <a href="{{ post.url }}">
      <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
        {{ post.Partido }}
      </span>

      <br>

      <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
        El Partido Completo
      </span>



      <img src="{{ post.image1 }}" width="940">

      <br>
   </a>

  {% endfor %}
</div>


  {% for post in site.categories.Conferencia-de-Prensa limit:2 %}
<div class="franja-ultimo-partido">
   <a href="{{ post.url }}">
     <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
       {{ post.Partido }}
     </span>

     <br>

     <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
      La Conferencia De Prensa
     </span>

     <br>

     <img src="{{ post.image1 }}" width="940">

     <br>
  </a>
</div>
 {% endfor %}
</div>




<br>

<br>

<p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
  ÚLTIMOS VIDEOS PEÑAROL
</p>

<br>

<br>


<div class="franja-horizontal" style="display:inline-block;background:transparent;">

    {% for post in site.categories.Bingo limit:8 %}



      <div class="franja-ultimo-partido">

        <a href="{{ post.url }}">
          <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
            {{ post.entrevistado }}
          </span>

          <br>

          <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
            {{ post.duracion }}
          </span>

          <br>

          <img src="{{ post.image1 }}" width="940">

          <br>

          <span style="color:yellow;width:800;padding:3px 3px;font-size:24px;">

              "{{ post.leyenda }}"
              <!--{{ post.Partido }}-->

          </span>
       </a>
     </div>

   {% endfor %}

</div>

  <br>

  <br>

  <p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
    ÚLTIMOS VIDEOS SELECCIÓN
  </p>

  <br>

  <br>

  <div class="franja-horizontal" style="display:inline-block;background:transparent;">

      {% for post in site.categories.Bongo limit:8 %}



        <div class="franja-ultimo-partido">

          <a href="{{ post.url }}">
            <span style="color:yellow;width:940;padding:2px 2px;font-weight:900;font-size:20px;">
              {{ post.entrevistado }}
            </span>

            <br>

            <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:16px;">
              {{ post.duracion }}
            </span>

            <br>

            <img src="{{ post.image1 }}" width="940">

            <br>

            <span style="color:yellow;width:800;padding:3px 3px;font-size:24px;">

                "{{ post.leyenda }}"
                <!--{{ post.Partido }}-->

            </span>
         </a>
       </div>

     {% endfor %}

    </div>

    <br>

    <p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
      TAMBIÉN TE PUEDE INTERESAR
    </p>

    <br>

    <style>
      .franja-horizontal {
        width: 1400px;
        height: 100%;
        background: background:#eaf804;
        display: inline-block;
        padding: 0px;
      }
    </style>

    <div class="franja-horizontal" style="display:inline-block;">

        {% for post in site.posts limit:12 %}



          <div class="franja-ultimo-partido">

            <a href="{{ post.url }}">
              <span style="color:yellow;padding:2px 2px;font-weight:900;font-size:20px;">
                {{ post.title }}
              </span>

              <br>

            <!--  <span style="color:red;padding:2px 2px;font-weight:900;font-size:16px;">
                {{ post.duracion }}
              </span>

              <br> -->

              <img src="{{ post.image1 }}">

              <br>

            <!--  <span style="color:yellow;width:800;padding:3px 3px;font-size:24px;">

                  "{{ post.leyenda }}"
                  <!--{{ post.Partido }}-->

            <!--  </span>  -->
           </a>
         </div>

       {% endfor %}

      </div>
