<li style="background:#eaf804;">
  <div style="margin-left:10px;padding:2px;">
    <p class="category">

        <span style="color:#3a3632;width:1440;padding:2px 2px;font-weight:900;font-size:39px;">
          ÚLTIMOS VIDEOS
        </span>


  {% for post in site.categories.Partidos-Completos %}
  <style>
    .entrevistas {
      width: 400px;
      background: black;
      margin-left: 20px;
      margin-right: 20px;
      height: 100%;
      padding: 10px;
    }
  </style
  </p>
  <a href="{{ post.url }}">
    <p class="entrevistas" style="width:400;background:black;display:inline-block;">

      <span style="color:#fff;width:800;padding:8;font-weight:900;font-size:26px;">

          <!--{{ post.entrevistado }}<br>-->
          {{ post.Campeonato }}


      </span>
      <span style="color:red;width:800;padding:8;font-weight:900;font-size:16px;">
          <!--Duración: {{ post.duracion }}-->
          {{ post.Fecha }}
      </span>

        <span>
          <img src="{{ post.image1 }}" style="height:240px;">
        </span>


      <!--<span style="color:yellow;width:800;padding:3px 3px;font-size:24px;">

          <!--"{{ post.leyenda }}"-->
          <!--{{ post.Partido }}-->

      <!--</span>-->
  </p>
  </a>

  {% endfor %}


  </div>
</li>
