

<br>

<p style="color:#3a3632;background:#eaf804;width:1440;padding:10px;font-weight:900;font-size:39px;">
  ÚLTIMOS VIDEOS PARTIDOS COMPLETOS
</p>

<br>

<br>


<div class="franja-horizontal" style="display:inline-block;background:transparent;">
  <style>
    .franja-horizontal {
      width: 1400px;
      height: 100%;
      background: background:#eaf804;
      display: inline-block;
      padding: 0px;
    }
  </style>

    {% for post in site.categories.partido-completo %}



      <div class="franja-ultimo-partido">

        <style>
          .franja-ultimo-partido {
            width: 300px;
            background: transparent;
            height: 350px;
            padding: 25px;
            float: left;
            display: inline;

          }
       </style>

        <a href="{{ post.url }}">
          <span style="color:#c1bfbe;width:940;padding:2px 2px;font-weight:900;font-size:26px;">
            {{ post.Campeonato }}
          </span>

          <br>

          <span style="color:red;width:300;padding:2px 2px;font-weight:900;font-size:16px;">
            {{ post.Fecha }}
          </span>

          <br>

          <img src="{{ post.image1 }}" width="940">

          <br>

       </a>

     </div>

   {% endfor %}

   <br>

   <iframe src="https://openload.co/embed/7ELntA5_Uo8/UCL.2019.04.17-Quarter.Finals-POR.vs.LIV.mkv" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>

   <br>

  </div>

  <br>

  <iframe src="https://openload.co/embed/7ELntA5_Uo8/UCL.2019.04.17-Quarter.Finals-POR.vs.LIV.mkv" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
