		<div id="sidebar1" class="sidebar">
			<ul>
				<code><li>
					<code><h2>Posteos Recientes</h2></code>
					<ul>
						<li><a href="/uruguay.html">uruguay - argentina en vivo...</a></li>
						<li><a href="/canales.html">canales, extra con super...</a></li>
						<li><a href="/mas.html">mas streams...</a></li>
						<li><a href="/streams.html">streams eliminatorias sudamericanas...</a></li>
						<!--<li><a href="#">Proin gravida orci porttitor</a></li>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>-->
					</ul>
				</li></code>
				<code><li>
					<code><h2>Twitter</h2></code>
					<ul>
						<center><code><li>
							<a href="https://twitter.com/intent/tweet?screen_name=AbuseOmbudsman" class="twitter-mention-button" data-show-count="false">Tweet to @AbuseOmbudsman</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</li></code></center>
						<center><code><li>
							<a href="https://twitter.com/AbuseOmbudsman" class="twitter-follow-button" data-show-count="false">Follow @AbuseOmbudsman</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</li></code></center>
						<center><code><li>
							<div id="tweets">
								<a class="twitter-timeline" data-lang="es" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/AbuseOmbudsman">Tweets by AbuseOmbudsman</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</li></code></center>
					</ul>
				</li></code>
				<code><li>
					<code><h2>Comentarios Recientes</h2></code>
					<ul>
						<li><a href="http://templated.co" rel="nofollow">TEMPLATED</a> on <a href="#">Aliquam libero</a></li>
						<li><a href="http://templated.co" rel="nofollow">TEMPLATED</a> on <a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="http://templated.co" rel="nofollow">TEMPLATED</a> on <a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="http://templated.co" rel="nofollow">TEMPLATED</a> on <a href="#">Suspendisse iaculis mauris</a></li>
					</ul>
				</li></code>
				<!--<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
					</ul>
				</li>-->
				<code><li>
					<code><h2>Archivo</h2></code>
					<ul>
						<li><a href="#">September</a> (23)</li>
						<li><a href="#">August</a> (31)</li>
						<li><a href="#">July</a> (31)</li>
					</ul>
				</li></code>
			</ul>
		</div>