	<head>
		<meta name="keywords" content="Club Atlético Peñarol, Palacio Cr. Gastón Güelfi, los obreros del AFE, Torneo Uruguayo de Primera División.">
	</head>
		<div id="sidebar2" class="sidebar span4">
			<ul> <!--class="border" -->
				<li>
					<form id="searchform" method="get" action="#">
						<div>
							<h2>Buscar en el sitio</h2>
							<input type="text" name="s" id="s" size="15" value="" />
						</div>
					</form>
					
				</li>
				<hr class="bs-docs-separator">
				
				<li>
					<h2>Tags</h2>
					<p class="tag"><span>{{page.keywords | capitalize | join: ', '}} </span></p>
				</li>
				<hr class="bs-docs-separator">	
					
				<li>
				
					<h2>Última Actualización</h2>
					<div id="calendar_wrap">
						<table summary="Calendar">
							<caption>
							Noviembre 2017
							</caption>
							<thead>
								<tr>
									<th abbr="Monday" scope="col" title="Monday">L</th>
									<th abbr="Tuesday" scope="col" title="Tuesday">M</th>
									<th abbr="Wednesday" scope="col" title="Wednesday">M</th>
									<th abbr="Thursday" scope="col" title="Thursday">J</th>
									<th abbr="Friday" scope="col" title="Friday">V</th>
									<th abbr="Saturday" scope="col" title="Saturday">S</th>
									<th abbr="Sunday" scope="col" title="Sunday">D</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td abbr="Noviembre" colspan="2" id="prev"><a href="{{ site.url }}/puntajeperfecto.html" title="View updates for Noviembre 2009">&laquo; Última Actualización</a></td>
									<!--<td class="pad">&nbsp;</td>-->
									<td colspan="2" id="next">&nbsp;</td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td class="pad" colspan="2">&nbsp;</td> 
									<td>1</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>5</td>
								</tr>
								<tr>
									<td>6</td>
									<td>7</td>
									<td><span><img src="{{ site.url }}/images/g7825.png" width="17"></span></td>
									<td>9</td>
									<td>10</td>
									<td>11</td>
									<td>12</td>
								</tr>
								<tr>
									<td>13</td>
									<td>14</td>
									<td>15</td>
									<td>16</td>
									<td>17</td>
									<td>18</td>
									<td>19</td>
								</tr>
								<tr>
									<td>20</td>
									<td>21</td>
									<td>22</td>
									<td>23</td>
									<td>24</td>
									<td>25<span></td>
									<td>26</td>
								</tr>
								<tr>
									<td>27</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31</td>
									<td class="pad" colspan="2">&nbsp;</td> 	
								</tr>
			
							</tbody>
						</table>
					</div>
					
				</li>
				<hr class="bs-docs-separator">
				
				<li>
					<h2>Streams de Deportes</h2>
				
					<div class="dropdown clearfix">
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
							<li><a tabindex="-1" href="{{ site.url }}/futbolargentino.html"><span style="color:#dcb208;">Futbol Argentino</span></a></li>
							<li class="divider-horizontal"></li>
							<li><a tabindex="-1" href="{{ site.url }}/sport1hdil.html"><span style="color:#dcb208;">Sport 1 HD Il</span></a></li>
							<li><a tabindex="-1" href="{{ site.url }}/sport2hdil.html"><span style="color:#dcb208;">Sport 2 HD Il</span></a></li>
							<li class="divider-horizontal"></li>
							<li><a tabindex="-1" href="{{ site.url }}/matchfutbol1.html"><span style="color:#dcb208;">Match Futbol 1 HD Ru</span></a></li>
							<li><a tabindex="-1" href="{{ site.url }}/matchfutbol2.html"><span style="color:#dcb208;">Match Futbol 2 HD Ru</span></a></li>
							<li><a tabindex="-1" href="{{ site.url }}/matchfutbol3.html"><span style="color:#dcb208;">Match Futbol 3 HD Ru</span></a></li>
							<li><a tabindex="-1" href="{{ site.url }}/matchtv.html"><span style="color:#dcb208;">Match TV HD Ru</span></a></li>
							<li class="divider-horizontal"></li>
							<li><a tabindex="-1" href="{{ site.url }}/futbolua1.html"><span style="color:#dcb208;">Futbol 1 HD Ua</span></a></li>
							<li><a tabindex="-1" href="{{ site.url }}/futbolua2.html"><span style="color:#dcb208;">Futbol 2 HD Ua</span></a></li>
							<li class="divider-horizontal"></li>
							<li><a tabindex="-1" href="{{ site.url }}/vtv.html"><span><img src="{{ site.url }}/images/g4873.png" width="40"></span><span style="color:#dcb208;">VTV HD Uy</span></a></li>
						</ul>
					</div>
					
						
				</li>
				<hr class="bs-docs-separator">
				
				<li>
					<div class="row-fluid">
						<ul class="thumbnails">
							<li class="span5">
								<a href="#" class="thumbnail">
									<img data-src="holder.js/260x180" src="{{ site.url }}/images/g6691.png" alt="">
								</a>
							</li>
							<li class="span5">
								<a href="#" class="thumbnail">
									<img data-src="holder.js/260x180" src="{{ site.url }}/images/g6691.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</li>
						
						<!--<li><a href="/futbolargentino.html"><span style="vertical-align:-8px;"><img src="{{ site.url }}/images/path6807.png" width="40px"></span><span style="margin-left:8px;">FUTBOL ARGENTINO</span></a></li>-->
						<!--<li><center><span><img src="http://tillhörpeñarol.tk/images/g4872.png" width="100"></span></center></li><br><br>-->
			</ul>
		
		</div>