<div id="content">
	
	<div class="container">
	
		<h1>Eliminatorias sudamericanas última fecha en vivo por Internet</h1>
		<h2>Mundial de Rusia 2018, sudamerica tiene cuatro lugares más una repesca contra Nueva Zelandia</h2>
		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Advertencia!</h4>
			Hacer click a la hora de comienzo de los respectivos encuentros! <strong>miércoles 11, Oct 01:30 CET</strong>.
		</div>
		<br><br>
		<h3>Streams de los partidos en directo</h3>
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						<img src="./images/arenavisionlogo.png" width="80" style="float: left">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span style="font-weight:900;">Brasil</span></td><td><span><img src="./images/brasil.png" width="40" style="float:right;"></span></td><td><center><span style="vertical-align:30;"><a href="arenavision8-9.html" class="btn btn-primary btn-mini">Arenavision 8-9</a></span></center></td><td><span><img src="./images/chile.png" width="40" style="float:left"></span></td><td><span style="font-weight:900;">Chile</span></td>
				</tr>
				<tr>
					<td><span style="font-weight:900;">Ecuador</span></td><td><span><img src="./images/ecuador.png" width="40" style="float:right;"></span></td><td><center><p><a href="arenavision19-20.html" class="btn btn-primary btn-mini">Arenavision 19-20</a></p><p><a href="arenavision21-22.html" class="btn btn-primary btn-mini">Arenavision 21-22</a></p></center></td><td><span><img src="./images/argentina.png" width="40" style="float:left"></span></td><td><span style="font-weight:900;">Argentina</span></td>
				</tr>
				<tr>
					<td><span style="font-weight:900;">Peru</span></td><td><span><img src="./images/peru.png" width="40" style="float:right;"></span></td><td><center><p><a href="arenavision23-24.html" class="btn btn-primary btn-mini">Arenavision 23-24</a></p></center></td><td><span><img src="./images/colombia.png" width="40" style="float:left"></span></td><td><span style="font-weight:900;">Colombia</span></td>
				</tr>
				<tr>
					<td><span style="font-weight:900;">Uruguay</span></td><td><span><img src="./images/uruguay.png" width="40" style="float:right;"></span></td><td><center><p><a href="arenavision25-26.html" class="btn btn-primary btn-mini">Arenavision 25-26</a></p></center></td><td><span><img src="./images/bolivia.png" width="40" style="float:left"></span></td><td><span style="font-weight:900;">Bolivia</span></td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<h2>Canales extras de Arenavision por sino funcionan los de arriba</h2><br><br>
				<tr><td><center>
					<p>
						<a href="./arenavision9.html" class="btn btn-primary btn-mini">Arenavision 9
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision20.html" class="btn btn-primary btn-mini">Arenavision 20
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision22.html" class="btn btn-primary btn-mini">Arenavision 21
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision22.html" class="btn btn-primary btn-mini">Arenavision 22
						</a>
					</p>
				</center></td>
				<td><center>
					<p>
						<a href="./arenavision23.html" class="btn btn-primary btn-mini">Arenavision 24
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision25.html" class="btn btn-primary btn-mini">Arenavision 26
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision27.html" class="btn btn-primary btn-mini">Arenavision 27
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision27.html" class="btn btn-primary btn-mini">Arenavision 28
						</a>
					</p>
				</center></td>
				<td><center>
					<p>
						<a href="./arenavision29.html" class="btn btn-primary btn-mini">Arenavision 29
						</a>
					</p>
				</center>
				<center>
					<p>
						<a href="./arenavision30.html" class="btn btn-primary btn-mini">Arenavision 30
						</a>
					</p>
				</center></td></tr>
		
	</div>
	
</div>
		