			<div id="content">
				<div class="post">
					<h1 class="title"><a href="#">Streams Eliminatorias Sudamericanas</a></h1>
					<p class="byline">Postiado el 26 de Agosto por <a href="http://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
					<div class="entry">
						<div itemscope="" itemtype="http://schema.org/SportsEvent">
							<p>A continuación hacemos público los streams correspondientes a las <span itemprop="name"><strong>Eliminatorias Sudamericanas Mundial Rusia 2018</strong></span> para los cinco encuentros
							programados para el <span itemprop="startDate"><time datetime="2017-08-31">2017-08-31</time>: </span> </p>
							<h3 itemprop="name">Eliminatorias Sudamericanas Mundial Rusia 2018 - Fixture</h3>
							<div>
								<p><span itemprop="startDate"><time datetime="2017-08-31">2017-08-31</time></span></p>
								<ul>
									<li><strong><span itemprop="homeTeam">URUGUAY</span> - <span itemprop="awayTeam">ARGENTINA</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-01T01:00+01:00"> 2017-09-01 <span style="color:green;">01:00 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">CHILE</span> - <span itemprop="awayTeam">PARAGUAY</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-01T00:30+01:00"> 2017-09-01 <span style="color:green;">00:30 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">VENEZUELA</span> - <span itemprop="awayTeam">COLOMBIA</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-08-31T23:00+01:00"> 2017-08-31 <span style="color:green;">23:00 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">BRASIL</span> - <span itemprop="awayTeam">ECUADOR</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-01T02:45+01:00"> 2017-09-01 <span style="color:green;">02:45 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">PERÚ</span> - <span itemprop="awayTeam">BOLIVIA</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-01T04:15+01:00"> 2017-09-01 <span style="color:green;">04:15 +01:00</span></time></span> </li>
								</ul>
							</div>
							<div>
								<p><span itemprop="startDate"><time datetime="2017-09-05">2017-09-05</time></span></p>
								<ul>
									<li><strong><span itemprop="homeTeam">BOLIVIA</span> - <span itemprop="awayTeam">CHILE</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-05T22:00+01:00"> 2017-09-05 <span style="color:green;">22:00 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">COLOMBIA</span> - <span itemprop="awayTeam">BRASIL</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-05T22:30+01:00"> 2017-09-05 <span style="color:green;">22:30 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">ECUADOR</span> - <span itemprop="awayTeam">PERÚ</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-05T23:00+01:00"> 2017-09-05 <span style="color:green;">23:00 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">ARGENTINA</span> - <span itemprop="awayTeam">VENEZUELA</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-06T01:30+01:00"> 2017-09-06 <span style="color:green;">01:30 +01:00</span></time></span> </li>
									<li><strong><span itemprop="homeTeam">PARAGUAY</span> - <span itemprop="awayTeam">URUGUAY</span></strong><span itemprop="startDate" style="color:orange;"><time datetime="2017-09-06T02:00+01:00"> 2017-09-06 <span style="color:green;">02:00 +01:00</span></time></span> </li>
								</ul>
							</div>
						</div>
						<div itemscope="" itemtype="http://schema.org/Event">
							<p><span itemprop="name">Transmición online de las Eliminatorias Sudamericanas</span></p><br><p><span itemprop="startDate"><time datetime="2017-08-31"> 2017-08-31</time><span itemprop="location">Sudamérica</span></span></p>
							<p><span style="color:red;">Para poder ver los strerms es necesario Internet Explorer y el Ace Player instalado que lo podés bajar de su sitio <a href="http://acestream.org">acestream.org</a>.</span></p>
							<div itemscope="" itemtype="http://schema.org/TelevisionChannel">
								<ul>
									<li><a href="/sporttv1.html"><span itemprop="name">SPORT TV 1 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
									<li><a href="/sporttv2.html"><span itemprop="name">SPORT TV 2 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
									<li><a href="/sporttv3.html"><span itemprop="name">SPORT TV 3 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
									<li><a href="/sporttv4.html"><span itemprop="name">SPORT TV 4 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
									<li><a href="/sporttv5.html"><span itemprop="name">SPORT TV 5 HD</span></a> <span itemprop="description">Canal de <span itemprop="genre">Deportes</span> de Portugal</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>