			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">URUGUAY - ARGENTINA en vivo y en HD</a></h2>
					<p class="byline">Postiado el 26 de agosto por <a href="https://abuseombudsman.github.io" rel="nofollow">abuseombudsman</a></p>
					<div class="entry">
						<h3>URUGUAY - ARGENTINA en vivo y en HD</h3>
							<div itemscope itemtype="http://schema.org/SportsEvent">
								<p><a href="http://iptv.gen12.net/bugtracker/file_download.php?file_id=3292&type=bug">Aqui</a> hay una lista de streams de los cuales los primeros cien streams funcionan
									perfecto en calidad HD. Las <span itemprop="name">eliminatorias</span> se pueden ver entre otros canales por 
									<div itemscope itemtype="http://schema.org/TelevisionChannel"><span itemprop="name"><a href="/sport1hdil.html" style="color:orange;">Sport 1 HD Il</a></span> y <span itemprop="name"><a href="/sport2hdil.html" style="color:orange;">Sport 2 HD Il</a></span>, <span itemprop="description">canales de <span itemprop="genre">deportes</span>
									de Israel</span></div>. La transmición de <span itemprop="homeTeam">Uruguay</span> - <span itemprope="awayTeam">Argentina</span>
									es la madrugada del viernes CET<span itemprop="startDate"><time datetime="2017-09-01T00:50+01:00">2017-09-01T00:50+01:00</time></span></p> finalizando alrededor de las <span itemprop="endDate"><time datetime="2017-09-01T02:45+01:00">2017-09-01T02:45+01:00</time></span>
									Partido que se disputará en el Estadio Centenario de Montevideo. Ojalá cambie la racha y sumemos para ir más tranquilos a Paraguay.<br>
									<a href="#"><div id="vaticinio" style="background-color:#fff;"><span><img src="images/g10544.png" width="90"></span></div></a>
								</p>
							</div>
					</div>
				</div>
			</div>