---
layout: blogpost
---


<div class="post" itemscope itemtype="http://schema.org/SportArticle">

 <div class="container">
  <header>


     <p class="byline" style="margin-bottom:5px;">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
	    <img src="{{ site.url }}/favicon.ico" style="margin-left:10px;" width="20px">
	   </p>
  </header>


  <h2 class="article-title" itemprop="name headline"><a class="post-link" href="{{ site.url }}/{{ page.url }}">{{ post.title | escape }}</a>


   <h1 class="title" style="font-family:color:yellow;letter-spacing:0;">
    <label class="article-label-lg"><a href="{{ site.url }}/seleccion.html" style="vertical-align:-7px;">Seleccion</a></label>
     <a href="{{ site.url }}/{{ page.url }}" style="text-decoration:none;">

       <p style="color:#3a3632;background:#eaf804;width:1440;padding:30px;font-weight:900;font-size:39px;">

         {{ page.title | escape }}
       </p>
<!--
       <span style="color:yellow;">
         {{ page.title | escape }}<!-- Progreso vs Peñarol en el Nasazzi a las 15:30 hora uruguaya-->
    <!--   </span> -->
     </a>

   </h1>

  </h2>

   <br>

	 <div class="entry" itemprop="articleBody">
		 <center>
			 <img src="{{ page.image1 }}" width="800">
		 </center>

		 <br>

			 {{ content }}

		 <br>

	 </div>

	{% if site.disqus.shortname %}
		{% include disqus_comments.html %}
	{% endif %}

 </div>

</div>
