---
layout: blogpost
---

<div class="container">
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  
    <h2 class="title" itemprop="name headline"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    <p class="byline">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
	  <img src="{{ site.url }}/favicon.ico" style="margin-left:10px;" width="20px">
	</p>
 

	<div class="entry" itemprop="articleBody">
		<center>
			<img src="{{ page.image1 }}" width="800">
		</center>
			
		<br>
		
			{{ content }}

		<br>
	
	</div>

	{% if site.disqus.shortname %}
		{% include disqus_comments.html %}
	{% endif %}
</div>
	</div>
