---
layout: blogpost
---


<div class="post" itemscope itemtype="http://schema.org/SportArticle">

 <div class="container">
  <header>


     <p class="byline">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
	    <img src="{{ site.url }}/favicon.ico" style="margin-left:10px;" width="20px">
	   </p>
  </header>
  <h2 class="article-title" itemprop="name headline"><a class="post-link" href="{{ site.url }}/{{ page.url }}">{{ post.title | escape }}</a></h2>
   <h1 class="title" style="font-family:color:yellow;letter-spacing:0;">
     <a href="{{ site.url }}/{{ page.url }}" style="text-decoration:none;">
       <span style="color:yellow;">
         {{ page.title | escape }}<!-- Progreso vs Peñarol en el Nasazzi a las 15:30 hora uruguaya-->
       </span>
     </a>
   </h1>

   <br>

	 <div class="entry" itemprop="articleBody">
		 <center>
			 <img src="{{ page.image1 }}" width="800">
		 </center>

		 <br>

			 {{ content }}

		 <br>

	 </div>

	{% if site.disqus.shortname %}
		{% include disqus_comments.html %}
	{% endif %}

 </div>

</div>
