<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Gestured
Description: A three-column, fixed-width blog design.
Version    : 1.0
Released   : 20091004

-->
<html x<html xmlns="http://www.w3.org/1999/xhtml"  data-spy="scroll" data-target=".bs-docs-sidebar" lang="{{ page.lang | default: site.lang | default: es }}">

{% include head.html %}
<body>
{% include navbar-entrevistas.html %}
<div id="wrapper">
<!-- start header -->
{% include header.html %}
<!-- end header -->

	<!-- start page -->
	<div id="page">


		<!-- start content -->

      <div id="primera">
			   {% include primera.html %}
		  </div>

  	<!-- end content -->


		<div style="clear: both;">&nbsp;</div>

	</div>
	<!-- end page -->

</div>
{% include footer.html %}
</body>
</html>
